/* universal settings*/
* {
    margin: 0%;
    padding: 0%;
    font-family: 'Bubblegum Sans', cursive;
    font-size: 1em;
}

/* recurring settings */



/* Specific section settings */

.page {
    background-color: black;
    
}
.page h1 {
    color: bisque;
}

.page p {
    color: whitesmoke;
}