/* universal settings*/
* {
    margin: 0%;
    padding: 0%;
    font-family: 'Bubblegum Sans', cursive;
    font-size: 1em;
}

/* recurring settings */



/* Specific section settings */

.body {
    background-color: black;
}